body {
    /* font-family: 'Montserrat', sans-serif; */
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Roboto Slab', serif;
}
.navigation-wrapper {
height: 190px;
background-color: #a42729;
border-bottom: 15px solid #0a0101;
color: #ffffff;
display: flex;
justify-content: space-between;
align-items: center;
padding: 60px 100px;
box-shadow: inset 0px 26px 79px 8px rgba(0,0,0,0.58);

}
.left-column {
display: flex;
align-items: center;
}
.header-styles {
/* font-family: 'Ubuntu Condensed', sans-serif; */
font-family: 'Montserrat', sans-serif;
font-size: 1em;
}
.center-column {
display: grid;
grid-template-columns: 1fr;
grid-gap: 42px;
width: 500px;
}
.center-column .logo {
display: flex;
justify-content: center;
}
.logo img {
width: 216px;
height: 100%;
}
.link-wrapper {
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-link {
width: 70px;
text-align: center;
}
.nav-link a {
font-family: 'Montserrat', sans-serif;
color: #ffffff;
text-decoration: none;
transition: 0.5s;
}
.nav-link a:hover {
color: #bcca99;
letter-spacing: 2px;
}
.right-column {
display: flex;
align-items: center;
}
.icon {
font-size: 2em;
color: #fff;
}
.icon-mr {
margin-right: 15px;
}
.icon-ml {
margin-left: 15px;
}
.homepage {
background-image: url(asset/Candle5.jpg);
padding: 100px;
height: 300px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.top-heading {
padding: 1px 20px;
background-color: #080808;
color: #cbcbcb;
width: 290px;
border-radius: 2px;
}
.bottom-heading {
background-color: #f7a122;
color: #0e0800;
width: 107px;
margin-top: 15px;
padding: 1px 20px;
border-radius: 2px;

}

.features-section {
height: 400px;
background-image: url(asset/Candle\ 1.jpg);
background-color: #a42729;
border-top: 10px solid rgb(12, 1, 1);
color: #a42729;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Montserrat', sans-serif;
box-shadow: inset 0px -26px 79px -8px rgba(0,0,0,0.58);
}

.columns-wrapper {
width: 1000px;
display: flex;
justify-content: space-between;
}

.column {
padding: 20px;
margin: 42px;
text-align: center;
border-bottom: 5px sold transparent;
border-radius: 10px;
transition: 1s;
}

.column:hover {
border-bottom: 5px solid#fff;
}

.column :nth-child(1) {
font-size: 3em;

}

.column :nth-child(2) {
font-size: 1.5em;
font-weight: 900;
height: 50px;
transition: 1s;
}

.column :nth-child(2):hover {
letter-spacing: 1px;
}

.column :nth-child(3) {
letter-spacing: 2px;
}

.about-flex {
    display: flex;
    justify-content: space-around;
}

.about-img{
margin-right: 30px;
border-radius: 35%;
margin-top: 25px;
}

.about-text{
width: 750px;
font-family:'Source Sans Pro', sans-serif;
}


